*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}
#main{
    background-image: url(/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height:100vh;
}
.playBtn{
    transition: all linear .3s;
}
.playBtn:hover{
 border: 1px solid rgba(0, 0, 255, 0) !important;
 background-color: rgba(0, 0, 255, 0.29) !important;
 color: white !important;
}
.playBtn:hover .playIcon{
    color: red !important;
   }
.playIcon{
    transition: all linear .3s;
}




/* playGround style  */
.playCard{
    position: relative;
}
.display-top{
    position: absolute;
    top: 11%;
    left: 0%;
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background: transparent;
    text-shadow: 5px 2px 7px rgba(134, 3, 3, 0.93);
    border-radius: 20px ;
    text-align: center;
}
.displayText{
    position: absolute;
    left:50%;
   bottom:55%
}
.keyBoardWrapper{
    max-width: 700px;
    margin: auto;
}
.keyboardLine{
    padding: 5px;
}
.keyBtn{
   width: 40px;
   height: 40px;
   background:white;
   padding: 5px !important;
   text-align: center;
   border-radius: 8px;
   font-size: 16px;
   font-weight: 700;
   box-shadow: 2px 2px 2px 3px rgba(255, 255, 255, 0.606);
}


/* playGround Result Style  */
.resultCard{
    width: 600px;
    background: transparent;
    border: 1px solid red;
    margin: auto;
}
